input {
    width: 70%;
}
.green {
    background-color: green;
    color: white;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: purple;
    color: white;
}
.red {
    background-color: red;
    color: white;
}
span {
    padding: 3px;
}
.yellow {
    background-color: yellow;
}